 .u-section-1 {
  background-image: linear-gradient(#c37130, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 692px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 27px 22px 0;
}

.u-section-1 .u-line-1 {
  width: 524px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 12px 9px 0 15px;
}

.u-section-1 .u-image-1 {
  min-height: 550px;
  background-image: url("images/thumbnail_th_1636102230617.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 454px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 344px;
  }

  .u-section-1 .u-image-1 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-image-1 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-line-1 {
    width: 324px;
  }

  .u-section-1 .u-image-1 {
    min-height: 329px;
  }
} .u-section-2 {
  background-image: linear-gradient(#c37130, #f9e79b);
}

.u-section-2 .u-sheet-1 {
  min-height: 757px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 19px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 689px;
  height: 545px;
  grid-gap: 10px 10px;
  margin: 19px auto 60px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(#c37130, #f1c50e);
}

.u-section-3 .u-sheet-1 {
  min-height: 784px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 19px auto 0;
}

.u-section-3 .u-gallery-1 {
  width: 689px;
  height: 545px;
  grid-gap: 10px 10px;
  margin: 19px auto 60px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 29.53%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: linear-gradient(#f1c50e, #77aad9);
}

.u-section-4 .u-sheet-1 {
  min-height: 781px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 55px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 621px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px 30px 50px;
}

.u-section-4 .u-image-1 {
  height: 574px;
  margin-top: 17px;
  margin-bottom: 0;
  box-shadow: 5px -6px 20px 0 rgba(0,0,0,0.25);
}

.u-section-4 .u-layout-cell-2 {
  min-height: 656px;
}

.u-section-4 .u-container-layout-2 {
  padding: 50px 46px;
}

.u-section-4 .u-text-1 {
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 0 6px 0 10px;
}

.u-section-4 .u-line-1 {
  width: 329px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 36px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 493px;
  margin: 35px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 345px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0 29px;
}

.u-section-4 .u-text-2 {
  margin: 6px 0 0 87px;
}

.u-section-4 .u-image-2 {
  width: 68px;
  height: 68px;
  background-image: url("images/pngtree-vector-like-icon-png-image_695769-removebg-preview.png");
  background-position: 50% 50%;
  margin: -21px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: -37px 71px 0 87px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 0 29px;
}

.u-section-4 .u-text-4 {
  margin: 6px 0 0 87px;
}

.u-section-4 .u-image-3 {
  width: 68px;
  height: 68px;
  background-image: url("images/images__1_-removebg-preview.png");
  background-position: 50% 50%;
  margin: -21px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: -37px 71px 0 87px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -115px;
  }

  .u-section-4 .u-layout-cell-1 {
    pointer-events: auto;
    min-height: 512px;
  }

  .u-section-4 .u-image-1 {
    height: 526px;
    margin-top: -44px;
  }

  .u-section-4 .u-layout-cell-2 {
    pointer-events: auto;
    min-height: 541px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 323px;
  }

  .u-section-4 .u-list-1 {
    width: 394px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 233px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 22px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 22px;
    margin-left: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -204px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 551px;
    margin-top: -45px;
    object-position: 100% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 264px;
  }

  .u-section-4 .u-list-1 {
    width: 312px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -398px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 576px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -479px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-4 .u-image-1 {
    height: 384px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: linear-gradient(#77aad9, #72efe9);
}

.u-section-5 .u-sheet-1 {
  min-height: 1370px;
}

.u-section-5 .u-image-1 {
  width: 600px;
  height: 600px;
  background-image: url("images/MatteWhite-01.jpg");
  background-position: 30.19% 50%;
  margin: 60px auto 0 83px;
}

.u-section-5 .u-image-2 {
  width: 389px;
  height: 389px;
  background-image: url("images/ec1-a-top1.webp");
  background-position: 50% 50%;
  margin: -176px auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 276px;
  height: 276px;
  background-image: url("images/fk2-b-divina-blue-02.webp");
  background-position: 32.46% 50%;
  margin: -313px 363px 0 auto;
}

.u-section-5 .u-group-1 {
  min-height: 484px;
  width: 534px;
  margin: -35px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 4px 49px 0 0;
}

.u-section-5 .u-line-1 {
  width: 347px;
  height: 0;
  margin: 13px 25px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 13px 25px 0;
}

.u-section-5 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -1161px 314px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 167px 104px 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  text-align: left;
  margin: 258px 656px 0 28px;
}

.u-section-5 .u-line-2 {
  width: 419px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 25px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  text-align: left;
  margin: 11px 718px 139px 37px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: normal;
    font-family: "Courier New", monospace;
  }

  .u-section-5 .u-text-3 {
    font-weight: normal;
    font-family: "Courier New", monospace;
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 555px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 264px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 551px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -116px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 264px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 22px 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 84px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 155px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 507px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 84px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -264px;
    margin-right: 64px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-5 .u-line-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-right: 221px;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 90px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-5 .u-line-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(#72efe9, #111956);
  min-height: 100vh;
}

.u-section-6 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  right: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 38px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 891px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px 30px 30px;
}

.u-section-6 .u-image-1 {
  width: 324px;
  height: 324px;
  background-image: url("images/pro-wireless-carbon-gallery-31.webp");
  background-position: 11.45% 50%;
  margin: 0 157px 0 0;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 35px auto 0 0;
}

.u-section-6 .u-line-1 {
  width: 385px;
  margin: 20px auto 0 1px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 24px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 891px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 56px 15px 0;
}

.u-section-6 .u-line-2 {
  width: 499px;
  transform-origin: left center 0px;
  margin: 18px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 19px 15px 0;
}

.u-section-6 .u-image-2 {
  width: 301px;
  height: 301px;
  background-image: url("images/20210625112958_2.png");
  background-position: 50% 50%;
  margin: 98px 29px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 948px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 735px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 57px;
  }

  .u-section-6 .u-line-1 {
    width: 381px;
    height: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 735px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-line-2 {
    width: 401px;
    height: 3px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 157px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 291px;
    height: 291px;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    width: 291px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-line-2 {
    width: 291px;
  }

  .u-section-6 .u-image-2 {
    width: 276px;
    height: 276px;
    margin-top: 475px;
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1657px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 305px;
    height: 305px;
    margin-right: 215px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 305px;
    height: 305px;
    margin-top: 320px;
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 273px;
    height: 273px;
    margin-right: 47px;
  }

  .u-section-6 .u-image-2 {
    width: 273px;
    height: 273px;
    margin-left: 47px;
  }
} .u-section-7 {
  background-image: linear-gradient(#111956, #4c7397);
}

.u-section-7 .u-sheet-1 {
  min-height: 607px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -2px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-image-1 {
  width: 393px;
  height: 240px;
  margin: 127px auto 0 52px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 17px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 300px;
    height: 183px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}